<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="DFEDigital" value="https://nuget.pkg.github.com/DFE-Digital/index.json" />
    <!-- <add key="Local" value="/Users/%USER%/NugetRepo/" /> -->
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="DFEDigital">
      <package pattern="SUI.*" />
    </packageSource>
    <!-- <packageSource key="Local"> -->
    <!--   <package pattern="SUI.*" /> -->
    <!-- </packageSource> -->
  </packageSourceMapping>
  <packageSourceCredentials>
    <DFEDigital>
      <add key="Username" value="%GITHUB_USERNAME%" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN_DFENUGET%" />
    </DFEDigital>
  </packageSourceCredentials>
</configuration>
