@page
@model DataView
@{
    ViewBag.Title = @Model.PersonModel.Name;
    ViewBag.BackLinkPath = nameof(Search);
}

<h1 class="govuk-heading-xl">@ViewBag.Title</h1>
<p class="govuk-body">
    NHS Number: @Model.PersonModel.NhsNumber
</p>
<div class="govuk-!-margin-bottom-7">
    @foreach (var tag in Model.PersonModel.Tags)
    {
        <govuk-tag class="govuk-tag--dark-blue">@tag</govuk-tag>
    }
</div>
@if (Model.PersonModel.ImportantMessages.Any())
{
    <govuk-notification-banner>
        @foreach (var message in Model.PersonModel.ImportantMessages)
        {
            <p class="govuk-notification-banner__heading">
                @message
            </p>
        }
    </govuk-notification-banner>
}

<partial name="_DataView__ChildRecordSection"/>

<partial name="_DataView__ChildDetailsSection"/>

<partial name="_DataView__ChildrensSocialCareSection"/>

<partial name="_DataView__EducationSection"/>

<partial name="_DataView__HealthSection"/>

<partial name="_DataView__CrimeSection"/>
