@page
@model IndexModel
@{
    ViewBag.Title = "Welcome to the Child Safeguarding Service";
}

<h1 class="govuk-heading-xl">@ViewBag.Title</h1>
<p class="govuk-body">
    This service provides a snapshot of a child and their circumstances to support safeguarding professionals to
    carry out safeguarding duties.
</p>
<p class="govuk-body">Use this service to:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Search for children's records</li>
</ul>

<govuk-button-link is-start-button="true" asp-page="OnboardingStep1">Sign in</govuk-button-link>