@page
@model OnboardingStep1
@{
    ViewData["Title"] = "Child Safeguarding Service";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content">
        <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
        <govuk-notification-banner>
            <govuk-notification-banner-title heading-level="2" id="banner-title">
                Important
            </govuk-notification-banner-title>
            <p class="govuk-notification-banner__heading">
                These records contain sensitive information
            </p>
            <p class="govuk-notification-banner__heading">
                You can legally xxxxxx
            </p>
        </govuk-notification-banner>
        <p class="govuk-body">
            These records show personal data such as details about a child and their family, historical involvement, active plans and additional needs
        </p>
        <p class="govuk-body">Depending on what is available, you may also see information from:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><b>Childrens Services</b> including support plans and provisions</li>
            <li><b>Education</b> including attendance and behaviour records, school moves</li>
            <li><b>Crime</b> including Probation, Youth offending and Police</li>
            <li><b>Health</b> including clinical diagnoses</li>
            <li><b>Housing</b> including household members, complaints</li>
        </ul>

        <govuk-button-link asp-page="@Model.NextStep">Continue</govuk-button-link>
    </main>
</div>