@page
@model OnboardingStep2
@{
    ViewBag.Title = "Accept conditions of use";
    ViewBag.BackLinkPath = nameof(OnboardingStep1);
}

<h1 class="govuk-heading-xl">@ViewBag.Title</h1>
<p class="govuk-body">
    You can log in to your child safeguarding account using your DfE login.
</p>
<p class="govuk-body">
    To use your Child safeguarding account you must agree to our <a href="#">terms of use</a>, <a href="#">privacy
        policy</a> and <a href="#">cookies policy</a>. You should read these carefully before logging in.
</p>
<p class="govuk-body">If you do not agree, you will not be able to access or use your account.</p>
<p class="govuk-body"><b>Key points:</b></p>
<ul class="govuk-list govuk-list--bullet">
    <li>point 1</li>
    <li>point 2</li>
    <li>point 3</li>
</ul>
<p class="govuk-body">We put small files known as cookies on your device. These are used to make your Safeguarding
    account work and improve your experience. You can manage your cookies to opt out of using some of them.</p>

<govuk-button-link asp-page="@nameof(Pages.SignIn)">Accept</govuk-button-link>