<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <RunConfiguration>
		<EnvironmentVariables>
		</EnvironmentVariables>
	</RunConfiguration>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat code coverage">
				<Configuration>
					<Format>cobertura,opencover</Format>
					<Exclude>[*.UnitTests?]*</Exclude>
					<!-- [Assembly-Filter]Type-Filter -->
					<ExcludeByFile>**/**/Program.cs,**/**/*.cshtml</ExcludeByFile>
					<!-- Globbing filter -->
					<SkipAutoProps>true</SkipAutoProps>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>