@{
    // ReSharper disable once Razor.LayoutNotResolved - Referenced from GovUk.Frontend.AspNetCore
    Layout = "_GovUkPageTemplate";
}

@* ReSharper disable once Razor.SectionNotResolved - Referenced from GovUk.Frontend.AspNetCore *@
@section BodyStart {
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <govuk-cookie-banner aria-label="Cookie on [name of service]"> *@
    @*     <govuk-cookie-banner-message> *@
    @*         <govuk-cookie-banner-message-heading>Cookies on [name of service]</govuk-cookie-banner-message-heading> *@
    @*         <govuk-cookie-banner-message-content> *@
    @*             <p class="govuk-body">We use some essential cookies to make this service work.</p> *@
    @*             <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p> *@
    @*         </govuk-cookie-banner-message-content> *@
    @*         <govuk-cookie-banner-message-actions> *@
    @*             <govuk-cookie-banner-message-action text="Accept analytics cookies" type="button"/> *@
    @*             <govuk-cookie-banner-message-action text="Reject analytics cookies" type="button"/> *@
    @*             <govuk-cookie-banner-message-action-link text="View cookies" href="#"/> *@
    @*         </govuk-cookie-banner-message-actions> *@
    @*     </govuk-cookie-banner-message> *@
    @* </govuk-cookie-banner> *@
}

@* ReSharper disable once Razor.SectionNotResolved - Referenced from GovUk.Frontend.AspNetCore *@
@section Header {
    <govuk-header home-page-url="https://gov.uk/" product-name="Child safeguarding service" />

    @* <govuk-service-navigation service-name="Child safeguarding service" service-url="#"> *@
    @*     <govuk-service-navigation-nav> *@
    @*         <govuk-service-navigation-nav-item href="#">Navigation item 1</govuk-service-navigation-nav-item> *@
    @*         <govuk-service-navigation-nav-item href="#" active="true">Navigation item 2</govuk-service-navigation-nav-item> *@
    @*         <govuk-service-navigation-nav-item href="#">Navigation item 3</govuk-service-navigation-nav-item> *@
    @*     </govuk-service-navigation-nav> *@
    @* </govuk-service-navigation> *@
}

@* ReSharper disable once Razor.SectionNotResolved - Referenced from GovUk.Frontend.AspNetCore *@
@section BeforeContent {
    <div class="govuk-width-container">
        <govuk-phase-banner>
            <govuk-phase-banner-tag>Alpha</govuk-phase-banner-tag>
            This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.
        </govuk-phase-banner>
    </div>
    
    @if (ViewBag.BackLinkPath is not null)
    {
        <govuk-back-link href="@ViewBag.BackLinkPath">@(ViewBag.BackLinkText ?? "Back")</govuk-back-link>
    }
}

@RenderBody()

@* ReSharper disable once Razor.SectionNotResolved - Referenced from GovUk.Frontend.AspNetCore *@
@section Footer {
    <govuk-footer>
        <govuk-footer-meta>
            <govuk-footer-meta-items>
                <govuk-footer-meta-item href="#">Item 1</govuk-footer-meta-item>
                <govuk-footer-meta-item href="#">Item 2</govuk-footer-meta-item>
                <govuk-footer-meta-item href="#">Item 3</govuk-footer-meta-item>
            </govuk-footer-meta-items>
        </govuk-footer-meta>
    </govuk-footer>
}

